/* Navigation Bar */
  #nav_id{
   background-color:white;
   padding: 0;
  } 
  #brand-latitude{
    font-family: "Georgia";
    font-weight: bold;
    background-color: rgb(0, 179, 134);
    padding: 0.5rem;
    margin-left:1rem;
  }
  #navbarSupportedContent{ 
    background-color:white; 
  }
  .nav-item{
    font-weight:600;
  }
  .dropdown-menu a:hover{
    background-color: lightgreen;
  }

  .dropdown-menu a:active{
    color: darkblue;
  }
  

 /* Landing Page */
  #container_1{
    padding: 2rem;
  }
  #summary{
    background-color: white;
    padding: 1rem;
  }
  #summary_image{ 
    /* height: 20rem;
    width: 20rem; */
    height: 60%;
    width: 100%; 
    padding: 1%;
  }

/* Individual Pages */
#image_main{
  height: 60%;
  width: 100%; 
}
#active{
  border: 0.2rem solid rgb(0, 179, 134);
}


/* All pages */
body{ 
  background-color: rgb(232,232,232); 
}
a:hover { 
  background-color: rgb(232,232,232);
  text-decoration: none; 
}

#sidebar{
  background-color: white;
  padding: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.sidebar_image{
  height: 9rem;
  width: 9rem;
}
#header1, #header2{
  font-family: "Georgia";
  font-size: 1.5rem;
  color: rgb(0, 179, 134);
}

#header3{
  font-family: "Georgia";
  font-size: 1rem;
  color: rgb(0, 179, 134);
  text-align: center;
}

.justify-content-center{
  padding: 2rem;
}

@media (max-width: 992px) {
  #nav_id{ 
    background-color: rgb(0, 179, 134); 
  }
  #sidebar{
    margin-left: 0;
  }
}

/* Comparison Page */
#comparison{
  background-color: white;
  padding: 2%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.comparison_image{ 
  height: 18.75rem;
  width: 25rem;
}

/* Data page */
#table_background{
  background-color: white;
  padding: 3rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
#world_cities_table{
  font-size: 0.75rem;
}
